<ion-header  >
  <ion-toolbar color="primary">
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>

  <ion-button size="large" fill="clear" color="sucess" [routerLink]="['/home']">
  <ion-icon name="arrow-back-circle" size="large"></ion-icon>
  </ion-button>
</ion-header>

<ion-content >

    <ion-refresher slot="fixed"  (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-accordion-group>
    <ion-accordion value="first" >
      <ion-item slot="header">
        <ion-label>Tragos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list lines="none" >
          <p>¿Qué cliente desea agregar a la venta?</p>

          <select name="miselect" [(ngModel)]="seleccionado" class="form-select sm">
              <option [value]="item" *ngFor="let item of client" [value]="item.id">{{item.nombre_cliente}}</option>
            </select>

          <br><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <ion-button id="open-modal" expand="block">Abrir</ion-button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <br><br><br>

</ion-list>

      </div>

      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <h4 class="modal-title pull-left">Seleccione un trago</h4>



               <button style="aling-items: center;justify-content: center" #closebutton class="btn btn-success align-items-center" (click)="crearAccion20()" >$20.000</button>
               &nbsp;
               <button style="aling-items: center;justify-content: center" class=" btn btn-success align-items-center" (click)="crearAccion30()" >$30.000</button>
               &nbsp;
               <button style="aling-items: center;justify-content: center" class=" btn btn-success align-items-center" (click)="crearAccion40()" >$40.000</button>

            </ion-content>
          </ng-template>
        </ion-modal>


    </ion-accordion>

    <ion-accordion value="second" >
      <ion-item slot="header">
        <ion-label>Servicios</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list lines="none" >
          <p>
          <select name="miselect" [(ngModel)]="seleccionados" class="form-select sm">
            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
          </select>
        </p>
        <div >
          <form [formGroup]="datosForm" *ngIf="seleccionados === 'Tarjeta' " (ngSubmit)="onSubmit()">


            <label for="fname">Valor servicio</label>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')"   id="vSer" name="vSer" class="form-control" [(ngModel)]="vSer" formControlName="vSer"/>
            <div *ngIf="datosForm.controls['vSer'].invalid && (datosForm.controls['vSer'].dirty || datosForm.controls['vSer'].touched)" class="alert alert-danger">

            </div>
            <label for="lname">Iva:</label><br>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')"   id="iva" name="iva" class="form-control" [(ngModel)]="iva" formControlName="iva"/>
            <div *ngIf="datosForm.controls['iva'].invalid && (datosForm.controls['iva'].dirty || datosForm.controls['iva'].touched)"  class="alert alert-danger">

            </div>
              <label for="fname">Privado</label>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')"   id="vChica" name="vChica" class="form-control" [(ngModel)]="vChica" formControlName="vChica"/>
            <div *ngIf="datosForm.controls['vChica'].invalid && (datosForm.controls['vChica'].dirty || datosForm.controls['vChica'].touched)"  class="alert alert-danger">
              <div *ngIf=" datosForm.get('vChica')?.errors?.['required']">
                El valor del privado es requerido.
              </div>
            </div>
              Habitación
            <br>
            <select name="pieza" id="pieza" class="form-select sm" [(ngModel)]="pieza"  formControlName="pieza" >
              <option [value]="" *ngFor="let item of listaNumeros" >{{item}}</option>
            </select>
            <div *ngIf="isSubmitted && f['pieza'].errors" class="invalid-feedback">
              <div *ngIf="f['pieza'].errors?.['required']">La Habitación ser completada.</div>
            </div>


            <br>
            <button type="submit" class="btn btn-success bg-success" [disabled]="!datosForm.valid"  (click)="crearServicio()">Aceptar</button>
            <br>
            resultado {{resultado}}
          </form>
        </div>
        <div >
          <form [formGroup]="datoForm" *ngIf="seleccionados === 'Efectivo' " novalidate  (ngSubmit)="onSubmits()">


            <label for="fname">Valor servicio</label>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')" id="valorServicio" name="valorServicio" class="form-control" [(ngModel)]="valorServicio" formControlName="valorServicio"/>
            <div *ngIf="datoForm.controls['valorServicio'].invalid && (datoForm.controls['valorServicio'].dirty || datoForm.controls['valorServicio'].touched)" class="alert alert-danger">

            </div>
            <label for="lname">Valor Privado:</label><br>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')" id="valorPrivado" name="valorPrivado" class="form-control" [(ngModel)]="valorPrivado" formControlName="valorPrivado"/>
            <div *ngIf="datoForm.controls['valorPrivado'].invalid && (datoForm.controls['valorPrivado'].dirty || datoForm.controls['valorPrivado'].touched)" class="alert alert-danger">
              <div *ngIf=" datoForm.get('valorPrivado')?.errors?.['required']">
                El valor del privado es requerido.
              </div>
            </div>
              Habitación
            <br>
            <select name="piezas" id="piezas" class="form-select sm" [(ngModel)]="piezas"  formControlName="piezas">
              <option [value]="" *ngFor="let item of listaNumeros" >{{item}}</option>
            </select>
            <div *ngIf="isSubmitted && ef['piezas'].errors" class="invalid-feedback">
              <div *ngIf="ef['piezas'].errors['required']">Privado debe ser completado.</div>
            </div>
            <br>


            <button type="submit" class="btn btn-success bg-success" [disabled]="!datoForm.valid" (click)="crearServicioEfectivo()">Aceptar</button>
            <br>
            total {{total}}
          </form>
        </div>

        <div >
          <form [formGroup]="datForm" *ngIf="seleccionados === 'Transferencia' " novalidate  (ngSubmit)="onSubm()">


            <label for="fname">Valor servicio</label>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')" id="valorServicios" name="valorServicios" class="form-control" [(ngModel)]="valorServicios" formControlName="valorServicios"/>
            <div *ngIf="datForm.controls['valorServicios'].invalid && (datForm.controls['valorServicios'].dirty || datForm.controls['valorServicios'].touched)" class="alert alert-danger">

            </div>
            <label for="lname">Valor Privado:</label><br>
            <input type="number" oninput="this.value=this.value.replace(/[^\d]/,'')" id="valorPrivados" name="valorPrivados" class="form-control" [(ngModel)]="valorPrivados" formControlName="valorPrivados"/>
            <div *ngIf="datForm.controls['valorPrivados'].invalid && (datForm.controls['valorPrivados'].dirty || datForm.controls['valorPrivados'].touched)" class="alert alert-danger">
              <div *ngIf=" datForm.get('valorPrivados')?.errors?.['required']">
                El valor del privado es requerido.
              </div>
            </div>
              Habitación
            <br>
            <select name="pie" id="pie" class="form-select sm" [(ngModel)]="pie"  formControlName="pie">
              <option [value]="" *ngFor="let item of listaNumeros" >{{item}}</option>
            </select>
            <div *ngIf="isSubmitted && fo['pie'].errors" class="invalid-feedback">
              <div *ngIf="fo['pie'].errors['required']">Privado debe ser completado.</div>
            </div>
            <br>


            <button type="submit" class="btn btn-success bg-success" [disabled]="!datForm.valid" (click)="crearServicioTransferencia()">Aceptar</button>
            <br>
            total {{tot}}
          </form>
        </div>

    </ion-list>

      </div>
    </ion-accordion>



    </ion-accordion-group>
</ion-content>
